html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: "휴먼편지체", sans-serif;
}

header {
    background-color: #E6D935; 
    height: 20%;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: auto;
}

header h1 {
    text-align: center;
    margin: 5px 0;
}


nav {
    background-color: #E88B35; 
    width: 20%;
    height: 72%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

nav ul {
    list-style-type: square;
    padding-left: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

section {
    background-color: #B2CDE0; 
    width: 80%;
    height: 72%;
    float: right;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: scroll; 
}

section h2 {
    color: blue;
    text-shadow: 2px 2px 4px gray;
}


footer {
    background-color: #906090; 
    color: white;
    height: 8%;
    clear: both;
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: 0.9em;
}

footer p {
    margin: 2px 0;
}

footer a {
    text-decoration: none;
    color: #4B0082;
}